.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 94, 0), rgb(143, 133, 49));
}

.row {
  position: relative;
}

.container {
  position: absolute;
  width: 60vw;
  height: 90vh;
  overflow: hidden;
  background: white;
  border-radius: 30px;
  top: -45vh;
}

.container > img {
  height: 100%;
  width: 100%;
}